<nav class="navbar">
    <div class="logo" routerLink="/home">SADHRI</div>
    <div class="links">
        <div class="nav-bar-item" routerLink={{y.link}} *ngFor="let y of navdata">
            <div class="nav-bar-item-text">{{y.name}}</div>
        </div>
        <div>
            <a class="btn btn-block btn-primary" (click)="ngAuthService.SignOut()" style="margin-bottom: 10px;background-color:yellowgreen;border: none;">
                Sign Out
              </a>
        </div>
    </div>
</nav>