<div class="main">
    <div class="header">
    </div>
    <div class="middle">
        <div class="notes">
            <form [formGroup]="story" class="enterstory">
                <textarea placeholder="Type your notes" formControlName="content" type="text"
                    class="typetext"></textarea>
                <button>Save</button>
            </form>
        </div>
        <div class="embed">
            <div class="videnter">
                <p> <input type="text" id="links" name="Links" placeholder="Add Link" [(ngModel)]="links">
                    <button type="button" (click)="btnClick();">Add</button>
                </p>
            </div>
            <!-- <h1>{{links}}</h1> -->
            <div *ngFor="let x of vidlinks">
                <object style="width: 300; height: 225; float: none; clear: both; margin: 2px auto;" [data]='x.link' class="vidbox">
                </object>
            </div>
        </div>
    </div>
</div>