.container h2 {
    text-align: center;
    margin: 25px auto;
  }
  // .navbar{
  //   background-color: #eee0e0;
  // }
  .navbar-light .navbar-nav .nav-link{
    color: #f5f3f3;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .navbar-light .navbar-nav .nav-link:hover{
    text-decoration: underline;
  }