/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding:0px;
    // box-sizing:border-box ;
}

@font-face {
    font-family: Lemon;
    src: url("./assets/fonts/LemonJellyPersonalUse-dEqR.ttf");
}

@font-face {
    font-family: handwriting;
    src: url("./assets/fonts/Bulgatti-xgMV.ttf");
}