<!-- <p>home works!</p> -->
<section class='home'>
    <button (click)="openDialog()">login</button>
    <img src="../../assets/back.jpg">
    <div class="homecontent">
        <h1>Start Learning.....</h1>
        <a href="#" class="btn btn-lg btn-light">Discover Features</a> &nbsp;
        <a href="#" class="btn btn-lg btn-primary">Make Your own notes</a>
        <!-- <a {click}="openDialog()" href="#" class="btn btn-lg btn-primary">LOGIN</a> -->
    </div>
    <!-- <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->
    <div class="container features">
        <div class="row">

            <div class="card" style="width: 20rem;height: 25rem;">
                <img src="../../assets/background.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;height: 25rem;">
                <img src="../../assets/background.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">

            </div>
        </div>
    </div>
    <h3 class="feature-title">Get in Touch!</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" name="">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email Address" name="email">
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="4"></textarea>
    </div>
    <input type="submit" class="btn btn-secondary btn-block" value="Send" name="">
    <div class="background">
        <div class="container team">
            <div class="row">
                <div class="card col-lg-3 col-md-3 col-sm-4 text-center">
                    <img class="card-img-top rounded-circle" src="../../assets/background.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Jane Doe</h4>
                        <p class="card-text">Job Description</p>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-3 col-sm-4 text-center">
                    <img class="card-img-top rounded-circle" src="../../assets/background.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Jane Doe</h4>
                        <p class="card-text">Job Description</p>
                    </div>
                </div>
                <div class="card col-lg-3 col-md-3 col-sm-4 text-center">
                    <img class="card-img-top rounded-circle" src="../../assets/background.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Jane Doe</h4>
                        <p class="card-text">Job Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Shortcut</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Add to Bookmark</button>
                </div>
            </div>
        </div>
    </div>

</section>