<div class="main">
    <div class="start">
        <div class="startleft">
            <div class="typewriter">
                <p> Notes for all</p>
            </div>
        </div>
        <div class="startright"></div>
        <img src="../../assets/images/flower.png">
    </div>
    <div class="shortcut">
        <button class="icon" (click)="addpopup = true">
            <img src="../../assets/images/add.png" height="25px">
        </button>
        <!-- <a style = "border: solid wheat thick; cursor: pointer; z-index: 1000;" href="https://www.w3schools.com">Visit W3Schools.com!</a> -->
        <!-- <a href="https://www.youtube.com/watch?v=eC-SPy6Qw2I&list=OLAK5uy_nDEzo6CJctW-TBlr8RAe5MlWWZzyTm8Wo&index=20">hey</a> -->
        <div *ngFor="let y of shortcuts" style="cursor: pointer; z-index: 1000;">
            <a href= "{{y.payload.doc.data().Links}}" target="blank">
              <img src={{y.payload.doc.data().Logo}} height="25px"> 
            </a>
        </div>
        <div class="form" *ngIf="addpopup">
            <form [formGroup]="formlinks">
                <div class="close" (click)="addpopup = false">
                    <img src="../../assets/images/add.png" height="25px">
                </div>
                <input type="text" id="links" name="Links" placeholder="Add Link" formControlName="link">
                <button (click)="addlinks()">Add</button>
            </form>
        </div>
    </div>
    <div class="about" >
        <h1>ABOUT</h1>
        <div class="aboutleft"></div>
        <div class="aboutright">
            <br>

            <div class="text">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make
                    a type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make
                    a type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make
                    a type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum.

            </div>

        </div>
    </div>
</div>

<!-- <div class="homecontent">
            <h1>Start Learning.....</h1>
            <a href="#" class="btn btn-lg btn-light">Discover Features</a> &nbsp;
            <a href="#" class="btn btn-lg btn-primary">Make Your own notes</a> -->
<!-- <a {click}="openDialog()" href="#" class="btn btn-lg btn-primary">LOGIN</a> -->
<!-- </div> -->
<!-- <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->
<!-- <div class="container features">
            <div class="row">

                <div class="card" style="width: 20rem;height: 25rem;">
                    <img src="../../assets/background.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card" style="width: 20rem;height: 25rem;">
                    <img src="../../assets/background.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">

                </div>
            </div>
    <div class="about">
        <div class="section-container">
            <h1>About</h1>
            <p>We exist to help you expand your human potential. By increasing access to science-backed therapies,
                we're transforming lives today to transform the world tomorrow.</p>
        </div>
    </div>
</div>


<div class="section-container">
    <h1>About</h1>
    <p>We exist to help you expand your human potential. By increasing access to science-backed therapies,
        we're transforming lives today to transform the world tomorrow.</p>
</div> -->