<div class="main">
    <div class="start">
        <div class="startleft">
            <div class="typewriter">
                <p> Notes for all</p>
            </div>
        </div>
        <div class="startright"></div>
        <img src="../../assets/images/flower.png">
    </div>
    <div class="shortcut">
        <button class="icon" (click)="addpopup = true">
            <img src="../../assets/images/add.png" height="25px">
        </button>
        <!-- <a style = "border: solid wheat thick; cursor: pointer; z-index: 1000;" href="https://www.w3schools.com">Visit W3Schools.com!</a> -->
        <!-- <a href="https://www.youtube.com/watch?v=eC-SPy6Qw2I&list=OLAK5uy_nDEzo6CJctW-TBlr8RAe5MlWWZzyTm8Wo&index=20">hey</a> -->
        <div *ngFor="let y of shortcuts" style="cursor: pointer; z-index: 1000;">
            <a href="{{y.payload.doc.data().Links}}" target="blank">
                <img src={{y.payload.doc.data().Logo}} height="25px">
            </a>
        </div>
        <div class="form" *ngIf="addpopup">
            <form [formGroup]="formlinks">
                <div class="close" (click)="addpopup = false">
                    <img src="../../assets/images/add.png" height="25px">
                </div>
                <input type="text" id="links" name="Links" placeholder="Add Link" formControlName="link">
                <button (click)="addlinks()">Add</button>
            </form>
        </div>
    </div>
    <div class="about">
        <h1>ABOUT</h1>
        <div class="aboutleft"></div>
        <div class="aboutright">
            <br>

            <div class="text">
                <p>Our project is contingent on productivity. It is an all-in-one workplace where you can write, plan,
                    and get organized. This extension will make your work easier by accessing it on the same page. This
                    extension will allow you to clip all or parts of web pages. It is an application that provides
                    components such as notes, calendars, a Digital clock, background music, a to-do list, shortcut
                    icons, and reminders.Being able to do all these things using only one app is a dream come true. It
                    has an awesome feature where you can block other things that distract you during your productivity
                    period.
                    <br>
                <h4>Inspiration:</h4>
                In this current scenario, students have been facing many issues regarding managing their notes and being
                productive throughout the day. SO, we came up with an idea of making a productivity extension this can
                be integrated into the curriculum and impact the learning of all students. Many different features can
                help them out. This extension will increase one’s productivity and will help them to achieve their goals
                better.

            </div>

        </div>
    </div>

</div>
<div style="height:'100vh'">
    <div class="card-group">
        <div class="card">
            <img src="../../assets/images/productive.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Highly Productive</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                <p class="card-text">
            </div>
        </div>

        <div class="card">
            <img src="../../assets/images/multitasking.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                </p>
                <p class="card-text">
            </div>
        </div>
        <div class="card">
            <img src="../../assets/images/organised.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text">
            </div>
        </div>
    </div>
</div>
<!-- <div style="height:'50vh'"> -->
<div class="card-group">
    <div class="card" style="margin: 20vh 0vw 20vh 20vw">
        <img src="../../assets/images/shortcut.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional
                content. This content is a little bit longer.</p>
            <p class="card-text">
        </div>
    </div>

    <div class="card" style="margin: 20vh 10vw 20vh 10vw">
        <img src="../../assets/images/calm.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
            </p>
            <p class="card-text">
        </div>
    </div>
</div>